{{#partial "message"}}
Please register to access this service
{{/partial}}

{{#partial "content"}}
<form action="/register" method="post"><input name="number" required="" type="tel" placeholder="18005551234" />
  <input type="submit" value="Register" />
</form>
{{/partial}}

{{> layout.hbs}}