{{#partial "message"}}
Please enter your verification code
{{/partial}}

{{#partial "content"}}
<form action="/check" method="post"><input name="code" required="" placeholder="1234" />
  <input type="submit" value="Check" />
</form>
{{/partial}}

{{> layout.hbs}}